/* homepage css */
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins',sans-serif;
}

.con{
  height: 400px;
  width: 300px;
  position: absolute;
  margin: auto;
  /* top: 0; */
  /* bottom: 0; */
  margin-left: 2%;
  left: 0;
  right: 0;
  perspective: 800;
  -webkit-perspective: 800;
}

.con1{
  height: 400px;
  width: 300px;
  position: absolute;
  margin: auto;
  /* top: 0; */
  /* bottom: 0; */
  margin-left: 27%;
  left: 0;
  right: 0;
  perspective: 800;
  -webkit-perspective: 800;
}

.con2{
  height: 400px;
  width: 300px;
  position: absolute;
  margin: auto;
  /* top: 0; */
  /* bottom: 0; */
  margin-left: 50%;
  left: 0;
  right: 0;
  perspective: 800;
  -webkit-perspective: 800;
}

.con3{
  height: 400px;
  width: 300px;
  position: absolute;
  margin: auto;
  /* top: 0; */
  /* bottom: 0; */
  margin-left: 76%;
  left: 0;
  right: 0;
  perspective: 800;
  -webkit-perspective: 800;
}

.poster {
  background-color: white;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  position: relative;
  transition: all 2s ease;
  border-radius: 10px;
}

.poster:hover {
  transform: rotateY(180deg);
}

.front,.back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: relative;
  bottom: 403px;
  transform: rotateY(180deg);
}

.STDimg {
  border-radius: 10px;
}

/* styling for title */
/* .title {
  font-family: 'Mulish', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 150px;
  font-weight: bolder;
  color : #F2E9E4; 
  text-align: center;
  padding-top: 20%;
} */

#writehere {
  font-family: 'Mulish', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 150px;
  /* font-weight: bolder; */
  color : #F2E9E4; 
  text-align: center;
  margin-top: 18%;
}
/* styling for slogan */
#slogan {
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  margin-top: -10px;
  color : #F2E9E4; 
  font-size: 25px;
}

.covidMap2 {
  padding-top: 10%;
  width: 40%;
  margin-left: 60%;
  text-align: center;
}

/* styling for the nav bar */
   .topnav {
    overflow: hidden;
    background-color: #22223B;
  } 
  .topnav a {
    float: left;
    display: block;
    padding: 0.5% 50%;
    text-decoration: none;
    font-size: 17px;
    position: sticky;
    top: 0;
  } 

/* styling for the logo on nav bar */
/* .logo {
  width: 40%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
    top: 0;
} */

/* STDont button */
.STD {
  width: 2.5%;
  height: auto;
  float: left;
  padding-top: 2%;
}

.cMap {
  width: 2.5%;
  height: auto;
  float: left;
  padding-top: 13%;
  margin-left: -1.6%;
}

.aus {
  width: 2.5%;
  height: auto;
  float: left;
  padding-top: 30%;
  margin-left: -1.3%;
}
 
.cTests {
  width: 2.5%;
  height: auto;
  float: right;
  padding-top: 2%;
}

.financialButton {
  width: 2.5%;
  height: auto;
  float: right;
  padding-top: 30%;
  margin-left: -1.3%;
}

.contactUs {
  width: 2.5%;
  height: auto;
  float: right;
  padding-top: 13%;
  margin-left: -1.6%;
}

main-message,
.image-one {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 85%;
  background-attachment:fixed;
}
 
.main-message {
  /*first pic on home screen*/
  background-image: url("https://cdn.glitch.com/ff152241-00f4-4a15-b3ef-0be7bcfa069f%2Fgradientbackg.png?v=1603570541819");
}
.image-one {
  /*second pic on home screen*/
  background-image: url("https://cdn.glitch.com/ff152241-00f4-4a15-b3ef-0be7bcfa069f%2Fgradientbkgrd2.png?v=1603570670786");
}

body, html {
  height:75%;
  font-size:20px; 
  line-height:1.5em; 
  margin: 0em;
  background-image: url("https://cdn.glitch.com/ff152241-00f4-4a15-b3ef-0be7bcfa069f%2Fbluegradient.png?v=1603571478134");
  box-sizing: border-box;
}


/* aNAS CODE */
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
}
.card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
.card1>.container:after{
    background-image: linear-gradient(
        135deg,
        #9A8C98,
        rgb(247, 162, 234)
    );
}
.card2>.container:after{
    background-image: linear-gradient(
        135deg,
        #9A8C98,
        rgb(247, 162, 234)
    );
}
.card3>.container:after{
    background-image: linear-gradient(
        135deg,
        #9A8C98,
        rgb(247, 162, 234)
    );
}
.details{
    padding: 20px 10px;
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

/* social media styling */
/* body{
	background-color: #e5e5e5;
	padding: 0;
	margin: 0;
}
.social{
	height: 100px;
	width: 70vw;
	box-shadow: -7px -7px 17px rgba(255,255,255,0.6),
				7px 7px 17px rgba(70,70,70,0.15);
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.social>a{
	height: 60px;
	width: 60px;
	box-shadow: -7px -7px 17px rgba(255,255,255,0.6),
				7px 7px 17px rgba(70,70,70,0.15);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none; 
	font-size: 25px;
}

}
.fa-twitter{
	color: #23abff;
}
.fa-facebook{
	color: #3e68c0;
}
.fa-instagram{
	color: #ea3145;
}
.fa-whatsapp{
	color: #27ae60;
}
.social>a:active{
	box-shadow: inset -7px -7px 17px rgba(255,255,255,0.6),
				inset 7px 7px 17px rgba(70,70,70,0.15);	

}
.my-link{
    color: #EA3145;
    font-family: "Rubik",sans-serif;
    position:absolute;
    right:20px ;
    top:20px;
    border:2px solid #EA3145;
    text-decoration:none;
}
@media screen and (min-width: 451px) {
 .my-link{
    font-size: 18px;
     padding:5px 10px 5px 10px;
  }
}

@media screen and (max-width: 450px) {
 .my-link{
    font-size: 14px;
     padding:3px 5px 3px 5px;
  }
} */

.footer {   
  position: absolute;
  float: center; 
  /* bottom: 0px;  */
}
.covidMap2 {
  margin-left:30%;
  margin-right:30%;
}

a {
  color: #F2E9E4;
  background-color: transparent;
  text-decoration: none;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect
   */
   margin:auto;
   justify-items:start;
  position: absolute;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #4A4E69;
  color: white;
  transform: rotateY(180deg);
}

.covidCard {
  margin-left: 25%;
}

.stdCard {
  margin-left: 50%;
}

.cMapCard {
  margin-left: 75%;
}

financeCard {
  margin-left: 7%;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #22223B;
}

.facebook {
  background: #484E69;
  color: white;
}

.twitter {
  background: #484E69;
  color: white;
}

.google {
  background: #484E69;
  color: white;
}

.linkedin {
  background: #484E69;
  color: white;
}

.youtube {
  background: #484E69;
  color: white;
}

nav {
  list-style-type: none;
  padding: 2px;
  background-color: #f2e9e4;
  overflow: hidden;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

li {
  display: inline;
  border-right: 2px solid #f2e9e4;
  font-size:20px;
}

li:last-child {
  border-right: none;
}

li a {
  color:  #182f52;
  text-decoration: none;
  padding: 1em;
  font-size: 1em;
} 

li a:hover {
  background-color: #c9ada7;
  border-radius:5px;
}